.jumbotron {
	// Display and Box Model
	box-sizing: border-box;

	.block-editor-block-list__layout {
		position: static;
	}
}

/*=============================================
=            Settings Sidebar styles          =
=============================================*/

/* To change with more specific selectors and better values for margin and padding */

.block-editor-block-inspector fieldset {
	margin: 8px;
	padding: 8px;
}

/*=====  End of Settings Sidebar styles  ======*/
