/*=============================================
	     Only for TwentyTwentyTwo theme
=============================================*/

.wp-site-blocks {
	--wp--custom--spacing--outer: 0 !important;
}

/*=====  End of TwentyTwentyTwo theme section  ======*/

.jumbotron {
	// Positioning
	position: relative;
	z-index: 100;

	// Display and Box Model
	box-sizing: border-box;
	padding: var(--padding);
	height: var(--height);
	width: var(--width);

	// Others
	background-color: var(--background-color);

	.jumbotron__back-button {
		// Positioning
		position: fixed;
		top: 5vh;
		right: 5vw;
		z-index: 500;
		pointer-events: none;

		// Display and Box Model
		padding: 16px;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		// Others
		cursor: pointer;
		background-color: var(--back-button-background);
		border-radius: 50%;
		border: none;
		transition: all var(--back-button-transition-easing)
			var(--back-button-transition-duration);
		font-size: 24px; // to remove later when a better icon solution is implemented

		// initially the back-button is hidden
		transform: var(--back-button-transform);
		opacity: 0;

		svg {
			fill: var(--back-button-icon-color);
		}
	}

	.jumbotron__sections-wrapper {
		// Positioning
		position: relative;
		z-index: 100;

		// Display and Box Model
		height: 100%;
		width: 100%;
	}
}

.jumbotron.is-section-opened {
	// A child Section block has been opened

	.jumbotron__back-button {
		pointer-events: all;
		transform: none;
		opacity: 1;
	}
}
